
.ui-input, .divider
{

    border-bottom: 2px solid rgb(244, 241, 196);


}
.nav-tabs {
    border-bottom-color: #3f5751;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    border-color: #3f5751 #3f5751 transparent;


}
.ui-input.ui-required
{

    border-bottom-color: #bf7908;
}
.ui-input:focus {
    border-bottom-color: #e9d485;
}
.ui-input.ui-error {
    border-bottom-color: #d93a31;
}
/*Button Theme Please Modify with care*/
.ui-button-default,.bg-default,.ui-button.ui-button-flat-default:focus,.ui-button.ui-button-flat-default:hover
{
    background-color: #e7e6e6;
    background-image: linear-gradient(#f3f3f3, #e3e1e1);
    color : rgb(70, 68, 68);

    /*text-shadow: 1px 1px 3px #f9f9f9;*/
}
.ui-button-default:hover/*,.ui-button-default:focus*/
{
    background-color: #e7e5e5;
    background-image: linear-gradient(#ece9e9, #e2e2e2);
    color : #4e4e4e;

    /*text-shadow: 1px 1px 6px #f3f3f3;*/
}

/*  For blue theme button*/

.ui-button-primary,.bg-primary,.md-active,.ui-button.ui-button-flat-primary:focus,.ui-button.ui-button-flat-primary:hover
{
    background-color: #3b5a65;
    background-image: linear-gradient(#3b5a65, #263a41);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px rgba(131, 131, 131, 0.62);*/
}

.ui-button-primary:hover/*,.ui-button-blue:focus*/
{
    background-image: linear-gradient(#ab926a, #cbaf6d);


    /*text-shadow: 1px 1px 6px #747474;*/
}

.ui-button-danger,.bg-danger,.ui-button.ui-button-flat-danger:focus,.ui-button.ui-button-flat-danger:hover
{
    background-color: #a2454c;
    background-image: linear-gradient(#a4524f, #a4464d);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}

.ui-button-danger:hover/*,.ui-button-red:focus*/
{
    background-image: linear-gradient(#a4464d, #a4524f);

    /*text-shadow: 1px 1px 6px #747474;*/
}
.ui-button-warning,.bg-warning,.ui-button.ui-button-flat-warning:focus,.ui-button.ui-button-flat-warning:hover
{
    background-color: #b7b648;
    background-image: linear-gradient(#afb770, #9c9e60);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}


.ui-button-warning:hover/*,.ui-button-red:focus*/
{


    background-image: linear-gradient(#9c9e60, #afb770);

    /*text-shadow: 1px 1px 6px #747474;*/
}

.ui-button-success,.bg-success,.ui-button.ui-button-flat-success:focus,.ui-button.ui-button-flat-success:hover
{
    background-color: #e9c465;
    background-image: linear-gradient(#ffa71f, #ff9b1c);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}

.ui-button-success:hover/*,.ui-button-green:focus*/
{

    background-image: linear-gradient(#e9c465, #ffa71f);


}

.ui-button-dormant,.bg-dormant,.ui-button.ui-button-flat-dormant:focus,.ui-button.ui-button-flat-dormant:hover
{
    background-color: #45494e;
    background-image: linear-gradient(#6f757d, #45494e);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}

.ui-button-dormant:hover/*,.ui-button-pink:focus*/
{  background-image: linear-gradient(#45494e, #6f757d);

    color : #ffffff;

    /*text-shadow: 1px 1px 6px #747474;*/
}

/*End of Button Theme */

div.theme-top-menu ul a:hover, .theme-left-nav-in-active-bgcolor{
    /*background-color: rgba(238, 249, 255, 0.47);*/
}

div.theme-top-menu ul a.active-menu, .theme-left-nav-active-bgcolor
{
    background-color: #ffa71f;
    text-shadow: 1px 1px 4px #989898;
}

.theme-caption-color,.theme-caption-bg-color .theme-caption-color
{
    text-decoration: none;
    color: #7c7e4c;
}
.theme-caption-bg-color,md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container
{
    background-color: #f8feea;
}
.badge
{
    background-color: #ff7b1f;
    color: #cbeeff;
}
div.theme-top-menu ul a.active-menu .badge
{
    background-color: #b7b648;
    color: #45494e;
}
.form-control:focus
{
    border-color: #869099;
}
a
{
    text-decoration: none;
    color: #bb7015;
}
a:hover
{
    text-decoration: underline;
    color: #afb770;
}
.theme-bg-color,div.theme-bg-color,.theme-bg-color,.theme-bg-color,md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar
{
    background: #3d3d3d;
    /*color: white;*/
    /*background-image: linear-gradient(#c3af62, #8b690c);*/
}


div.theme-bg-attention-bg-color
{
    background: #afb770;

}

div.current-user-box div.current-user-pic-box
{
    background-color: #b0870f;
}
div.current-user-pic-box div.current-user-pic
{
    background-color: #949988;
}
.ui-button-dormant:hover/*,.ui-button-pink:focus*/
{
    background-image: linear-gradient(#365c67, #447381);

}
.ui-button.ui-button-flat-warning
{
    color : #a98331;
}
.ui-button.ui-button-flat-dormant
{
    color : #447381;
}
.ui-button.ui-button-flat-primary
{
    color : #744e18;
}
.ui-button.ui-button-flat-danger
{
    color : #bb312f;
}
.ui-button.ui-button-flat-default
{
    color : #6f6f6f;
}
.ui-button.ui-button-flat-success
{
    color : #8f6609;
}
.bg-accent-color
{
    background-color: rgb(185, 128, 120);
    background-image: linear-gradient(#b98078, #4a3633);
    color : white;
}
