@using asom.apps.web.inOut.Models
<div class=" text-left">
    <p class="font-size-13 text-center bold pad10 bg-primary">License Agreement</p>
    <div class="pad10 max-height-200 overflow-auto">
        <div class="">
            <span class="font-size-14">
                By using this software and any updates to it, you indicate your acceptance of these terms. If you do not accept these terms, PLEASE do not install or use the software.
                <br><br>
                The software <b>(@AppInfo.Get.AppTitle)</b> and any updates to it are provided "as is" and you bear the risk of using it. In no event shall Asom Services Inc., its affiliates, or its licensors, be liable for any consequential, special, incidental or indirect damages of any kind arising out of the delivery, performance or use of this software.

              <br>This software was written with care, but no one warrants that the software is error-free. Your sole remedy for any failure or any form of damage caused by this software is a redesign of the internal framework of this software.

                On startup, the software checks for a valid license which is required for using most of the components and services that your business needs to operate effectively. You may Not privately distribute copies of the software or the accompany license file to others, you do not represent the software as your own work, and you do not alter the software or the installation package in any way. You may not host or redistribute this software publicly
              (e.g. from a public Internet site); instead point users to Asom Services Inc for a copy. You may not decompile or otherwise reverse-engineer any part of the software, except and only to the extent that such actions are expressly allowed by applicable law notwithstanding this restriction.
                <br>
              <br>
                <b>USE RESTRICTIONS:</b> You warrant that your use of this software is legal and does not violate any law or regulation to which you are subject.
<br>
              <br>
                <b>SUPPORT:</b> No dedicated technical support is provided with the software after 2 Months of purchase. An "Enterprise Support" package is available for purchase separately for higher version of this software. Support, if purchased, is provided subject to the terms and conditions of the support agreement.
<br>
                @AppInfo.Get.AppTitle is ©2017 Asom Services Inc. http://www.asomservices.com.

          </span>
        </div>
    </div>
  <div class="pad10 display-inine-block w100">
    <a href="" class="btn btn-default pull-left" ng-click="rejectLicense()">I Don't Accept</a>
    <a href=""class="pull-right btn btn-primary" ng-click="acceptLicense()">I
    Accept And Install</a></div>

</div>
