@using asom.apps.web.inOut.Models
<div class="row">
 
        <div class="col-12 col-sm-8 col-md-6">
            <div class="bg-white  shadow-sm  ">
                @Html.Partial("ui/_partials/bank/_user_btc")
            </div>
        </div>
    
</div>