<div class="pad30 margin-t-60">
  <div class="pad30 centralize margin-t-60 w60">
  <div class=" bg-white-gradient shadow-sm  -stronger min-h50 border-radius">
    <div class="pad20 bg-danger">
      <p class="font-size-38 text-center"><i class="ion-ios-bell"> </i>  &nbsp; Oops! Access Denied</p>
    </div>
    <div class="pad20 text-left">
      <span class="font-size-14">Hello {{currentUser.displayName}}, You have been denied access to this section</span>
      <span>If you are certain you have the right permission to this page, please contact your System Admin
    <br>
      You can also verify the Roles assign to you <a ui-sref="settings-state.create-users-state">Here</a>
    </span>
    </div>

  </div>
</div></div>

