
@{
    ViewBag.Title = "Application Setup";
   
}

@*<p class="font-size-14">By Installing this Software, you AGREE to the terms & conditions for Using this Software.</p>*@


@Html.Partial("ui/_partials/app_setup/_setup")
