/*Button Theme Please Modify with care*/

.ui-input, .divider
{

    border-bottom: 2px solid rgb(178, 236, 188);


}
.nav-tabs {
    border-bottom-color: #93c99b;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    border-color: #93c99b #93c99b transparent;


}
.ui-input.ui-required
{

    border-bottom-color: #19b02c;
}
.ui-input:focus {
    border-bottom-color: #a6ea4a;
}
.ui-input.ui-error
{

    border-bottom-color: #ff3da3 !important;
}
.ui-button-default,.bg-default, .ui-button.ui-button-flat-default:focus,.ui-button.ui-button-flat-default:hover
{
    background-color: #e7e6e6;
    background-image: linear-gradient(#e1e1e1, #cbc9c9);
    color : rgb(70, 68, 68);

    /*text-shadow: 1px 1px 3px #f9f9f9;*/
}
.ui-button-default:hover/*,.ui-button-default:focus*/
{
    background-color: #e7e5e5;
    background-image: linear-gradient(#ece9e9, #e2e2e2);
    color : #4e4e4e;

    /*text-shadow: 1px 1px 6px #f3f3f3;*/
}

/*  For blue theme button*/
div.ui-bg-color .ui-input:focus,.ui-bg-color .ui-input:focus
{

    border-bottom: rgb(143, 255, 222) solid  ;
}
.ui-button-primary,.bg-primary,.md-active,.ui-button.ui-button-flat-primary:focus,.ui-button.ui-button-flat-primary:hover
{
    background-color: #179065;
    background-image: linear-gradient(#22905f, #137451);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px rgba(131, 131, 131, 0.62);*/
}

.ui-button-primary:hover/*,.ui-button-blue:focus*/
{

    background-image: linear-gradient(#188339, #57b089);
    color : #ffffff;
    /*text-shadow: 1px 1px 6px #747474;*/
}

.ui-button-danger,.bg-danger,.ui-button.ui-button-flat-danger:focus,.ui-button.ui-button-flat-danger:hover
{
    background-color: #c21316;
    background-image: linear-gradient(#c52b0e, #9c0919);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}

.ui-button-danger:hover/*,.ui-button-red:focus*/
{
    background-color: #c22216;
    background-image: linear-gradient(#a60f1e, #b83b14);
    color : #ffffff;

    /*text-shadow: 1px 1px 6px #747474;*/
}
.ui-button-warning,.bg-warning,.ui-button.ui-button-flat-warning:focus,.ui-button.ui-button-flat-warning:hover
{
    background-color: #f1b62f;
    background-image: linear-gradient(#f1a810, #d37f2d);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}


.ui-button-warning:hover/*,.ui-button-red:focus*/
{
    background-color: #dc6910;
    background-image: linear-gradient(#f17117, #ea7702);
    color : #ffffff;

    /*text-shadow: 1px 1px 6px #747474;*/
}

.ui-button-success,.bg-success,.ui-button.ui-button-flat-success:focus,.ui-button.ui-button-flat-success:hover
{
    background-color: #9ba23d;
    background-image: linear-gradient(#b2ae2f, #7c7a38);
    color : #fff !important;


    /*text-shadow: 1px 1px 6px #838383;*/
}

.ui-button-success:hover/*,.ui-button-green:focus*/
{
    background-color: #b2ae2f;
    background-image: linear-gradient(#a28648, #a3a14c);



    /*text-shadow: 1px 1px 6px #747474;*/
}

.ui-button-dormant,.bg-dormant,.ui-button.ui-button-flat-dormant:focus,.ui-button.ui-button-flat-dormant:hover
{
    background-color: #9b9284;
    background-image: linear-gradient(#b3a999, #9b9284);
    color : #fff !important;

    /*text-shadow: 1px 1px 6px #838383;*/
}

.ui-button-dormant:hover/*,.ui-button-pink:focus*/
{
    background-image: linear-gradient(#b3a999, #ccc1af);
    color : #ffffff;

    /*text-shadow: 1px 1px 6px #747474;*/
}
.ui-button.ui-button-flat-warning
{
    color : #a98331;
}
.ui-button.ui-button-flat-dormant
{
    color : #816e7f;
}
.ui-button.ui-button-flat-primary
{
    color : #4a905e;
}
.ui-button.ui-button-flat-danger
{
    color : #bb312f;
}
.ui-button.ui-button-flat-default
{
    color : #778a7e;
}
.ui-button.ui-button-flat-success
{
    color : #5b9690;
}
/*End of Button Theme */

div.theme-top-menu ul a:hover, .theme-left-nav-in-active-bgcolor{
    /*background-color: #769796;*/
}

div.theme-top-menu ul a.active-menu, .theme-left-nav-active-bgcolor,
.theme-bg-color
{
    background-color: #b2ae2f;

}
.badge
{
    background-color: #ff0000;
    color:white;
}
div.theme-top-menu ul a.active-menu .badge
{
    background-color: #3c664c;
    color: #fff;
}
.theme-caption-color, .theme-caption-bg-color .theme-caption-color
  {
    text-decoration: none;
    color: #61a275;
}
.theme-caption-bg-color
{
    background-color: #e7ffee;
}

.form-control:focus
{
    border-color: #61a275;
}
a
{
    text-decoration: none;
    color: #5b7674;
}
a:hover
 {
    text-decoration: underline;
     color: #61a275;
 }
.theme-bg-color,div.theme-bg-color,.theme-bg-color,md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar
{
    background: #0c4735;
    /*color:white;*/
}
/*.divider{*/
    /*border-bottom-color:#5b7674 ;*/
/*}*/

div.theme-bg-bg-color
{
    background: #61a275;

}
div.theme-bg-attention-bg-color
{
    background: #ce8e88;

}

div.current-user-box div.current-user-pic-box
{
    background-color: #71c1b2;
}
div.current-user-pic-box div.current-user-pic {
    background-color: #a0b7a4;

}

.bg-accent-color
{
    background-color: rgb(101, 187, 97);
    background-image: linear-gradient(#65bb61, #246222);
    color : white;
}