@using asom.apps.inOut.core.model.org


@{
    ViewBag.Title = "Forgot Your Password";
  var appSettings = OrgAppSetting.Get();
}

<div class="pad20 margin-t-100 centralize w50 min-h150 color-default shadow-stronger-spread bg-white">
    <p class="font-size-24 pad10 divider color-red"><i class="ion-ios-locked color-orange font-size-38"></i> &nbsp; Forgot your Password? </p>
    <div class="pad10 font-size-15 text-left">
        <span>
            Please Fill the Form below. If the process succeeds an Email  will be sent to you with a new Password.
            <br>You may have to wait for few minutes for the email.
            <br>
            If you supplied an invalid email address during registration, this process will fail, you have to write to our support
          team on how to resolve this issue.
          <br>
          <p class="font-size-16 pad20 bg-highlight">Support Email : @appSettings.SmtpUserId <br>
            Or use :  @appSettings.Tag1

          </p>

        </span>

    </div>
    <div class="pad20" ng-controller="ForgotPasswordController">

      <div class="animated anim-if" ng-if="done==false">
        <form name="frmForgotPwd" novalidate role="form">
          <div class="">
            <div class="row">

              <p class="pad10 border-bottom-thick font-size-18 bold">Valid Registration Email Address Required!</p>


              <div class="col-sm-3"><span class="font-size-12 bold">Email Address</span></div>
              <div class="col-sm-9">
                <input type="text" maxlength="150"
                       ng-model="userInfo.email" placeholder="Email Address"
                       ng-pattern='emailPattern'
                       name="txtEmail" autocomplete="off"
                       class="ui-input ui-input-border ui-required font-size-20"
                       ng-class="{'ui-invalid-field' :  frmForgotPwd.txtEmail.$dirty && frmForgotPwd.txtEmail.$invalid}">
                <div class="">
                  <ng-messages for="frmForgotPwd.txtEmail.$error" ng-if="frmForgotPwd.txtEmail.$dirty">
                    <ng-message when="pattern" class="color-red">Your Email Address is not valid</ng-message>
                    <ng-message when="required" class="color-red">This a required field (Email Address)</ng-message>
                  </ng-messages>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <span class="font-size-12 bold">Login Id</span>
              </div>
              <div class="col-sm-9">
                <input type="text" maxlength="150"
                       autocomplete="off"
                       required
                       name="txtId"
                       minlength="3"
                       ng-model="userInfo.userId" placeholder="Login Account Id"
                       class="ui-input ui-input-border ui-required font-size-18"
                       ng-class="{'ui-invalid-field' : frmForgotPwd.txtId.$dirty && frmForgotPwd.txtId.$invalid}">
                <div>
                  <p ng-if="frmForgotPwd.txtId.$dirty && frmForgotPwd.txtId.$dirty ">

                    <ng-messages for="frmForgotPwd.txtId.$error" ng-if="frmForgotPwd.txtId.$dirty">
                      <ng-message when="required" class="color-red">Login Id Field Required!</ng-message>
                      <ng-message when="minlength" class="color-red">Minimum length is 3 characters</ng-message>
                    </ng-messages>
                  </p>
                </div>
              </div>
            </div>


          </div>
          <div class="margin-t-20">
            <div class="text-center animated anim-if" ng-if="processing">
              <span>Processing ...</span>
              @Html.Partial("ui/_loading_img_partial")
            </div>
            <button class="ui-button ui-button-primary"
                    ng-click="resetPassword(userInfo)"
                    ng-disabled="frmForgotPwd.$invalid || processing">Reset Password</button>
          </div>
        </form>
      </div>
      <div class="pad20" ng-if="done">

        <p class="font-size-20">Password Reset Please check your Email for new Password</p>

      </div>




    </div>
</div>


