
@using asom.apps.web.inOut.Models

<div class="text-center pad20 color-white">
    Copyright &copy; @DateTime.Now.Year Powered by @AppInfo.Get.AppTitle Engine All Right reserved. <br />
   
    <br/>
    
  

</div>
