@model asom.apps.web.inOut.Models.Settings.CompanyInfoModel
@{
    var org = Model;
}
<div class="logo">
    <a href="@Url.Action("Index","FrontEnd")">
        <div>Sports Report</div>
        <div class="d-none d-md-block">Best performers are born</div>
    </a>
</div>