
<div class=" bg-success " asom-toolbar offset-to-element-id="app-main-menu">
    <div class="pad10">
        <div class="row">
            <div class="col-sm-7">
                <p class="font-size-17 "> Employee Dashboard</p>
            </div>
            <div class="col-sm-5">
                <div class="pad5 ui-bg-colorr">
                    <form name="frmSearch">
                        <div class="row">
                            <div class="col-sm-5 text-right clear-boostrap-padding-in-row">
                                <span class="pad10-l-r">Search</span>
                            </div>
                            <div class="col-sm-7 clear-boostrap-padding-in-row">
                                <input type="text"
                                       class="ui-input font-size-14" name="txtSearch" placeholder="Search Employees" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>

    <div class="bg-white-gradient pad10 min-h50">
        <div class="row">
            <div class="col-sm-8">
                <button class="btn btn-flat-primary">
                    <i class="ion-android-add"> </i> &nbsp; New Customer
                </button>
                <button class="btn btn-flat-primary">Action 2</button>
                <button class="btn btn-flat-primary">Action 3</button>
                <button class="btn btn-flat-primary">Action 4</button>
            </div>
            <div class="col-sm-4">

                <div class="">
                    <button class="btn btn-flat-success"> <i class="ion-android-arrow-back"></i> PREV.</button>
                    <span class="pad10">1</span>
                    <span class="pad10">2</span>
                    <span class="pad10">3</span>
                    <span class="pad10">4</span>
                    <span class="pad10">5</span>
                    <button class="btn btn-flat-success"> <i class="ion-android-arrow-forward"></i> NEXT.</button>
                </div>
            </div>
        </div>

    </div>
</div>
                
<div class="pad10 font-size-34">Details Coming soon</div>



