@using asom.apps.inOut.core.model.authentication
@using asom.apps.inOut.core.model.org
@using asom.apps.web.inOut.Models
@{
    var appSettings = OrganizationInfo.GetSettings();


    bool hasAdminPrevileges = false;
    try
    {
        hasAdminPrevileges = new IdentityStore().HasAuthority(AppPermissions.CORE_APP_FUNCTIONS_MANAGER);
    }
    catch
    {
    }
}


<div class="pad0">


    <div class=" min-h300">


        <div class="row mb-4">
            <div class="col-sm-12 col-12 col-md-6">
                <div class="shadow-sm bg-white p-5 ">
                    <h2>Use the Menu to the 'Left' to perform any System function</h2>
                    @if (hasAdminPrevileges)
                    {
                        <p class="lead">As an Admin you can : </p>
                        <ul>
                            <li>Create a new Performer Profile</li>
                            <li>Create a new Create Judges Profile</li>
                            <li>Manage all Judges Profile</li>
                            <li>Publish report for each judges Score</li>


                        </ul>
                    }
                    else
                    {
                        <p class="lead">As a Judge you can : </p>
                        <ul>
                            <li>Record Scores for each Performer</li>
                            <li>Edit Your Profile</li>
                            <li>View Final Published report from all judges</li>


                        </ul>
                    }
                </div>

            </div>
           

        </div> 
        @if (!hasAdminPrevileges)
        {
            /*Judges Only*/
            <div class="d-flex flex-column justify-content-center w50 btn- ">
                <asom-performer-selector performer="p"></asom-performer-selector>
            </div>
           
            <div class="row">
            <div class="col-md-6 col-12">
                <asom-judge-score-board group-id="AKA" performer="p"></asom-judge-score-board>
            </div>
            <div class="col-12 col-md-6 ">
               <asom-judge-score-board performer='p' group-id='AO'></asom-judge-score-board>  
            </div>
                
               
            </div>
        }
    </div>


</div>
<div class="min-h150"></div>